@import '../../common/styles/fonts';
@import 'src/common/styles/colors';

.sectionContainer {
  padding: 35px 0;

  display: flex;
  justify-content: center;

  background: $background-dark;
  color: $primary;
  font-family: 'Raleway', sans-serif;
}

.envelope {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 25px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 50%;
  background: $primary;

  svg {
    width: 50px;
    height: 50px;
    color: $background-dark;
  }

  @media (max-width: 1200px) {
    display: none;
  }

}

.infoContainer {
  display: flex;
  background: $background-dark;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  &Header {
    padding-top: 12px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    font-size: 25px;
    color: $primary;
  }

  &Paragraph {
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 20px;

    a {
      color: #f18762;
      text-decoration: none;
    }

  }

  @media (max-width: 1200px) {
    margin-bottom: 20px;
    text-align: center;
  }

}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.getInTouchButton {
  padding: 22px 40px;
  min-width: 222px;
  min-height: 68px;

  border: 2px solid $primary;
  color: $primary;
  background-color: $background-dark;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: $secondary;
    background: $primary;
  }
}