@import '../../common/styles/fonts';
@import 'src/common/styles/lineClamp';
@import 'src/common/styles/colors';

.mainContainer {
  h1, h2, h3, h4, h5, h6 {
    color: $primaryDark;
    margin-bottom: 20px;
  }

  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
}

.stepsContainer {
  text-align: center;
}

.stepsHeader, .questionsHeader {
  padding: 50px 0;
  max-height: 7.8rem;

  font-size: 2.25rem;

  @extend .line-clamp;
  -webkit-line-clamp: 2;
}

.frequentQuestionHeader {
  padding: 30px 10px;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid #e1e1e1;
}

.questionsHeader {
  padding: 10px 15px 10px;
  max-height: 4.5rem;

  display: inline-block;
  font-size: 1.875rem;

  @media (max-width: 480px) {
    padding-bottom: 0;
    max-height: 4.9rem;
    font-size: 22px;
  }

}

.questionsSymbol {
  width: 60px;
  height: 60px;
  display: inline-block;

  border-radius: 50%;
  text-align: center;
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 36px;
  line-height: 60px;
  border: 2px solid $secondary;
  color: $secondary;
  background: $primary;
}

.cardsList {
  margin-bottom: 55px;
  padding-top: 25px;
}

.startContestButton {
  margin: 0 -53px;
  margin-bottom: 37px;
  padding: 35px 0;

  background: $secondary;
  text-align: center;

  a {
    padding: 18px 0;
    margin: 0 auto;
    min-height: 60px;
    width: 235px;

    display: block;
    text-decoration: none;
    border: 2px solid $primary;
    color: $primary;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    background: $secondary;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 1300px) {
    margin: 0 0 37px;
  }

  @media (max-width: 768px) {
    margin: 0;
  }

}

