@import '../../../common/styles/fonts';

.linkLi {
  list-style-type: '- ';
  margin-bottom: 7px;
  font-size: 14px;
  font-family: 'Raleway-Regular', sans-serif;
}

.linksContainer {
  padding: 20px 35px 0;
}