@import '../../common/styles/fonts';
@import 'src/common/styles/lineClamp';
@import 'src/common/styles/colors';

.title {
  padding: 15px 0;

  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 18px;

  @extend .line-clamp;
  -webkit-line-clamp: 2;
  max-height: 3.2rem;

  @media (max-width: 480px) {
    -webkit-line-clamp: 4;
    max-height: 5.5rem;
  }

}

.questionContainer {
  padding: 15px 15px;
  margin-bottom: 10px;

  p {
    line-height: 20px;
    margin-top: 15px;
    font-family: 'Raleway-Regular', sans-serif;
    color: $secondaryDark;
  }
}

.questionContainer:nth-child(even) {
  background: #fafafa;
}